<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- fontawesome icons -->
	<script src="https://kit.fontawesome.com/23106110f2.js" crossorigin="anonymous"></script>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
		rel="stylesheet">

	<!-- bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<!-- jquery UI -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-bootstrap/0.5pre/assets/css/bootstrap.min.css"
		integrity="sha512-UVQYZVYu7WhHEaO2xGEmc4/3F8ctnXt4jwfGl2MCIHKc95RMgYS8yfNJ3j6wUe0UGiTK0S3vcmh3Ml9h278x5w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- custom CSS -->
	<link rel="stylesheet" href="./public/CSS/style.css">

	<!-- <script>
		$(function () {
			$(".controlgroup").controlgroup()
		});
	</script> -->

	<title>Find Your Next Pet - Search</title>
	<link rel="icon" type="image/x-icon" href="./public/images/favicon.png">
</head>

<body class="container">
	<header
		class="row d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
			<img class="bi me-2" id="logo" role="img" src="./public/images/site icon.png" alt="Find Your Next Pet Logo">
		</a>

		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			<li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
			<li><a href="/search" class="nav-link px-2 link-dark">Pet Search</a></li>
		</ul>

		<div class="col-md-3 text-end">
			<button type="button" class="btn btn-outline-primary me-2">Login</button>
			<button type="button" class="btn btn-primary">Register</button>
		</div>
	</header>

	
	<section class="row container d-flex flex-wrap py-3 mb-4">
		<div id="searcharea" class="d-inline-flex flex-wrap">
			<fieldset>
				<legend>Shelter Search</legend>
				<div class="col-12 d-flex flex-wrap justify-content-around controlgroup">
					
					<div class="searchtypes">
						<label for="pet-type" class="ui-controlgroup-label"><h4>Pet Types</h4></label>
						<div class="p-2 m-1 form-check form-switch" id="pet-type-choice">
							<input class="form-check-input" type="checkbox" value="dogtrue" id="typedog">
							<label class="form-check-label" for="typedog">Search for Dogs</label>
							<input class="form-check-input" type="checkbox" value="cattrue" id="typecat">
							<label class="form-check-label" for="typecat">Search for Cat</label>
							<input class="form-check-input" type="checkbox" value="othertrue" id="typeother">
							<label class="form-check-label" for="typeother">Include Other Animal Types</label>
						</div>
					</div>
					<div class="searchtypes">
						<label for="pet-age" class="ui-controlgroup-label">Pet Age</label>
						<div class="p-2 m-1 form-check form-switch" id="pet-age-choice">
							<input class="form-check-input" type="checkbox" value="babytrue" id="baby">
							<label class="form-check-label" for="baby">Baby</label>
							<input class="form-check-input" type="checkbox" value="youngtrue" id="young">
							<label class="form-check-label" for="young">Young</label>
							<input class="form-check-input" type="checkbox" value="adulttrue" id="adult">
							<label class="form-check-label" for="adult">Adult</label>
							<input class="form-check-input" type="checkbox" value="seniortrue" id="senior">
							<label class="form-check-label" for="senior">Senior</label>
						</div>
					</div>

					<div class="searchtypes">
						<label for="pet-gender" class="ui-controlgroup-label">Pet Gender</label>
						<div class="p-2 m-1 form-check form-switch" id="pet-gender-choice">
							<input class="form-check-input" type="checkbox" value="maletrue" id="male">
							<label class="form-check-label" for="male">Male</label>
							<input class="form-check-input" type="checkbox" value="femaletrue" id="female">
							<label class="form-check-label" for="female">Female</label>
							<input class="form-check-input" type="checkbox" value="othertrue" id="other">
							<label class="form-check-label" for="other">Other/Unkown</label>
						</div>
					</div>

					<div class="searchtypes">
						<label for="breedoption" class="ui-controlgroup-label">Animal Breed</label>
						<input id="breedoption" class="ui-spinner-input">
					</div>

					<div class="searchtypes">
						<label for="locationoption" class="ui-controlgroup-label">City</label>
						<input id="locationoption" class="ui-spinner-input">
					</div>

					<div class="d-grid col-12 p-2 mx-auto">
						<button class="btn btn-primary" type="button">Search</button>
					</div>
					
				</div>
			</fieldset>
		</div>
	</section>
	
	<main class="container row d-flex flex-wrap">	
		<!-- results and details -->
			<div id="searchresultscontainer" class="col-12 col-lg-6 col-xxl-5 p-2 m-1">
				<div class="col-12" id="searchheader">
					<h3>Search Results</h3>
				</div>
				<div id="searchresults" style="overflow:auto;">
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-4">
								<div class="savedpetimageholder">
									<img src="./public/images/alvan-nee-ZCHj_2lJP00-unsplash.jpg" class="img-fluid" alt="...">
								</div>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<i class="savedhearticon"><button>Save</button></i>
									<h5 class="card-title">{{name}}</h5>
									<ul class="card-text" style="list-style: none;">
										<li>{{gender}}</li>
										<li>{{breed}}</li>
										<li>{{age}}</li>
									</ul>
									<p class="card-text"><small class="text-muted">{{location}}</small></p>
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-4">
								<div class="savedpetimageholder">
									<img src="./public/images/alvan-nee-ZCHj_2lJP00-unsplash.jpg" class="img-fluid" alt="...">
								</div>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<i class="savedhearticon"><button>Save</button></i>
									<h5 class="card-title">{{name}}</h5>
									<ul class="card-text" style="list-style: none;">
										<li>{{gender}}</li>
										<li>{{breed}}</li>
										<li>{{age}}</li>
									</ul>
									<p class="card-text"><small class="text-muted">{{location}}</small></p>
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-4">
								<div class="savedpetimageholder">
									<img src="./public/images/alvan-nee-ZCHj_2lJP00-unsplash.jpg" class="img-fluid" alt="...">
								</div>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<i class="savedhearticon"><button>Save</button></i>
									<h5 class="card-title">{{name}}</h5>
									<ul class="card-text" style="list-style: none;">
										<li>{{gender}}</li>
										<li>{{breed}}</li>
										<li>{{age}}</li>
									</ul>
									<p class="card-text"><small class="text-muted">{{location}}</small></p>
								</div>
							</div>
						</div>
					</div>
					<div class="card mb-3">
						<div class="row g-0">
							<div class="col-md-4">
								<div class="savedpetimageholder">
									<img src="./public/images/alvan-nee-ZCHj_2lJP00-unsplash.jpg" class="img-fluid" alt="...">
								</div>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<i class="savedhearticon"><button>Save</button></i>
									<h5 class="card-title">{{name}}</h5>
									<ul class="card-text" style="list-style: none;">
										<li>{{gender}}</li>
										<li>{{breed}}</li>
										<li>{{age}}</li>
									</ul>
									<p class="card-text"><small class="text-muted">{{location}}</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="petdetailcontainer" class="col-12 col-lg-5 col-xxl-5 p-2 m-1">
				<div class="col-12"><img id="petdetailimg" class="col-6"
						src="./public/images/ryan-walton-uKtvYMGe8ls-unsplash.jpg" alt="dog"></div>
				<div id="petdetailname" class="col-12">
					<h3>{{name}} - <i class="savedhearticondetail"><button>Save</button></i></h3>
				</div>
				<div id="petdetailtext" class="col-12">
					<ul class="herolist" style="list-style: none;">

						<li>
							{{type | species}}
						</li>
						<li>
							{{breed}}
						</li>
						<li>
							{{gender}}
						</li>
						<li>
							{{age}}
						</li>
						<li>
							<p>{{description}}</p>
						</li>
						<li>
							{{location}}
						</li>
					</ul>
				</div>
			</div>


		</section>
	</main>

	<footer class="row d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
		<h4>Made by team...</h4>
		<a href="">
			<h4>Check this site's Repo here:</h4>
		</a>
	</footer>

	<!-- Jquery Script -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- jquery UI script -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
		integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- bootstrap script -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

</body>

</html>