<section class="row container d-flex flex-wrap py-3 mb-4"></section>
	<div id="petdetailcontainer" class="col-12 col-lg-6 col-xxl-5 p-2 m-1">
		<div class="col-12"><img id="petdetailimg" class="col-6" src="{{animals.photos[0].full}}" alt="{{animals.description}}"></div>
		<div id="petdetailname" class="col-12"><h3>{{animals.name}} - <i class="savedhearticondetail"><button>Save</button></i></h3></div>
		<div id="petdetailtext" class="col-12"><ul class="herolist" style="list-style: none;">
			
			<li>
				{{animals.species}}
			</li>
			<li>
				{{animals.breed.primary}}
			</li>
			<li>
				{{animals.gender}}
			</li>
			<li>
				{{animals.age}}
			</li>
			<li>
				<p>{{animals.description}}</p>
			</li>
			<li>
				{{animals.contact.address.postcode}}
			</li>
			<li>
				{{animals._links.organization}}
			</li>
		</ul></div>
	</div>

	<div id="savedpetscontainer" class="col-12 col-lg-5 col-xxl-5 p-2 m-1">
		<div class="col-12" id="savedpetsheader">
			<h3>Your Saved Pets</h3>
		</div>
		<div id="savedpetslist" style="overflow:auto;">
			{{#each savedPet as |saved|}}
			{{> savedpetcards-details}}
			{{/each}}
		</div>
	</div>
</section>